.card {
  width: 80%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  background-color: rgb(43, 49, 72);
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.info {
  border-radius: 1rem;
    background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 33.17%,
    rgba(0, 0, 0, 0.8) 50.9%,
    rgba(0, 0, 0, 0.24) 100%
  );
}
.content {
  display: flex;
  border-radius: 1rem;
  gap: 2rem;
  padding: 1.5rem 3.5rem;
}
.content .image {
  width: 100%;
  max-width: 270px;
  flex: 0 0 auto;
  height: 400px;
  max-height: 400px;
  border-radius: 16px;
  overflow: hidden;
}
.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .details {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 375px;
  justify-content: center;
  color: white;
}
.tag {
  max-height: 23.67px;
  min-height: 23.67px;
  max-width: 108px;
  min-width: 108px;
  border-radius: 8px;
}
.text {
  margin: 16px 0 0;
  word-break: break-word;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow: hidden;
}
.top-margin {
  margin: 8px 0 0;
}
.content .details h1 {
  margin: 32px 0px 0px;
  word-break: break-word;
  font-size: 36px;
  line-height: 42px;
}

.content .card-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.content .card-icons i {
  transform: scale(1);
  transition: .2s ease-in-out;
}

.content .card-icons i:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 725px) {
  .info {
    border-radius: 1rem;
    background: linear-gradient( 90deg, rgba(0, 0, 0, 0.8) 33.17%, rgba(0, 0, 0, 0.8) 50.9%, rgba(0, 0, 0, 0.8) 100% );
  }
  .content {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .content .image {
    max-width: 100%;
  }
  .content .details {
    max-width: 100%;
  }
  .content .details h1 {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .content {
    padding: 1rem;
  }
}